{% extends "base.html" %}
{% block body %}
  <!-- Hero Section -->
  <section id="hero" class="hero section">
    <div class="container">
      <div class="row gy-4">
        <div
          class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
          data-aos="fade-up"
        >
          <h1>Blockchain Health Record System</h1>
          <p>
            Securely manage and share patient medical data using blockchain and QR codes.
            Empower patients and doctors with instant, tamper-proof access to health records.
          </p>
          <div class="d-flex">
            <a href="#about" class="btn-get-started">Get Started</a>
          </div>
        </div>

        <div
          class="col-lg-6 order-1 order-lg-2 hero-img"
          data-aos="zoom-out"
          data-aos-delay="100"
        >
          <img src="static/assets/img/hero-img.png" class="img-fluid animated" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- /Hero Section -->
{% endblock body %}
